.navbar {
    color: rgb(0, 52, 135);
    font-size: 2vw;
    position: fixed;
    top: 0;
    z-index: 999;
    border-radius: 1vw;
    background: linear-gradient(to bottom, transparent 0%, rgba(241, 241, 241, 0.2) 50%);
    text-align: center;
}
.scrolled {
    background-color: rgba(241, 241, 241, 0.6)
}
.container{
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kid{
    cursor: pointer;
    background-color:rgba(145, 212, 246, 0.2);
    border-radius: 1vw;
    font-size: 1em;
}

.kid:hover {
    color:rgb(240, 136, 80);
    cursor: pointer;
}

.navbar-text {
    margin: .4vw;
}

.navbar-text:hover {
    color:rgb(240, 136, 80);
    cursor: pointer;
}

.nav-icon {

    margin: 1vw;
}

.logo {
    height: 4vw;
    border-radius: 3vw;
    margin: 0 3px;
    cursor: pointer;
    margin: 3px;
}


.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7vw;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 14vw;
}

.options {
    display: none;
    position: absolute;
}
.profile:hover .options {
    display: flex;
    flex-direction: column;
    background-color: rgba(123, 123, 123, 0.3);
    color: rgb(254, 238, 20);
    border-radius: 1vw;
    text-shadow: red;
    border-radius: 2vw;
}
.dropdown{
    margin: auto -1.4vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1vw;
    background-color: rgb(9, 8, 4, .3);
    padding-left: -8vw;
    cursor: pointer;
}
