.main {
    height: 100vh;
    color: rgb(243, 233, 233);
    justify-content: center;
}
.info {
    width: 35%;
    position: relative;
    margin: 20vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2vw;
}
.desc{
    margin: 1vw 0;
    font-weight: 400;
    background-color: rgba(13, 7, 28, 0.3);
    border-radius: 2vw;
}
.btn {
    width: 10vw;
    height: 10vw;
    padding: .1vw;
    border-radius: .8vw;
    background-color: rgba(235, 235, 235, 0.8);
    color: rgb(213, 71, 11);
    cursor: pointer;
    margin: .2vw;
}
.buttons {
    margin-right: 20vw;
    display: flex;
    flex-direction: row;
}
.movie {
    border-radius: 2vw;
}
.category{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    margin: 2vw;
}
select {
    cursor: pointer;
    background-color: rgba(55, 55, 55, 0.8);
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
}
#option {
    cursor: pointer;
    background-color: rgba(55, 55, 55, 0.8);
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
}
