html {
    padding: 2vw;
    background: url("https://artfiles.alphacoders.com/309/30944.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home {
    overflow: hidden;
}
.listOfMovies {
    background-color: rgba(29, 29, 29, 0.6);
    border-radius: 2vw;
}