.listItem {
    width: 230px;
    height: 130px;
    overflow: hidden;
    margin: 0 2vw;
    padding: 0;
    overflow: hidden;
}
.movies-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}