.listItem {
    width: 230px;
    height: 130px;
    overflow: hidden;
    margin: 0 2vw;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    color: white;
}
.movies-img {
    width: 250px;
    height: 350px;
    background-size: cover;
    margin: 2vw 0;
}
.movies-img:hover {
    width: 20vw;
    height: 30vw;
    padding-bottom: 2vw;
    padding: -2vw;
}
